<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="hu.szacskesz.mobile.tasklist">

  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
    android:name=".TaskListApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/tasks_activity_title"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.TaskList">

    <activity
      android:name=".tasks.TasksActivity"
      android:label="@string/tasks_activity_title"
      android:launchMode="singleTop"
      android:theme="@style/Theme.TaskList.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".settings.SettingsActivity"
      android:label="@string/settings_activity_title"
      android:parentActivityName=".tasks.TasksActivity" />

    <activity
      android:name=".tasklists.TaskListsActivity"
      android:label="@string/task_lists_activity_title"
      android:parentActivityName=".tasks.TasksActivity"
      android:theme="@style/Theme.TaskList.NoActionBar" />

    <activity
      android:name=".tasks.TasksEditorActivity"
      android:parentActivityName=".tasks.TasksActivity"
      android:theme="@style/Theme.TaskList.NoActionBar" />

    <receiver android:name=".service.NotificationBroadcastReceiver" />
    <service
      android:name=".service.NotificationJobIntentService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />
  </application>

</manifest>